.container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th,
tbody td {
  padding: 8px;
  text-align: left;
}

thead th {
  background-color: #f2f2f2;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

tbody tr:last-child td {
  border-bottom: none;
}

/* ?Table Btn styles */
.btn {
  margin-bottom: 20px;
}

.update-btn {
  margin: 10px;
}

/* New update */
