.search-bar {
    position: relative;
    display: inline-block;
  }

  .search-bar input {
    padding-right: 30px; /* Add some padding to make space for the clear button */
  }


  .clear-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
  }

  .clear-button:hover {
    color: #000;
  }